/* .default {
    @apply font-medium tracking-wide text-[#49658A] bg-transparent
}

.active {
    @apply font-medium tracking-wide text-[#1d4ed8] bg-transparent
} */

.active {
    /* letter-spacing: 0.025em !important; */
    font-weight: 800;
    color: #FFC000 !important;
    background-color: transparent !important;
    font-size: 14px;
    /* line-height: 19.12px; */
}

.default {
    /* letter-spacing: 0.025em !important; */
    font-weight: 700;
    color: #49658A !important;
    background-color: transparent !important;
    font-size: 14px;
    /* line-height: 17.07px; */
}