.active {
    /* letter-spacing: 0.025em !important; */
    font-weight: 700;
    color: #FFC000 !important;
    background-color: transparent !important;
    font-size: 14px;
}

.default {
    /* letter-spacing: 0.025em !important; */
    font-weight: 700;
    color: #49658A !important;
    background-color: transparent !important;
    font-size: 14px;
}

.default:hover {
    color: #FFC000 !important;
}

.lg-dropdown .dropdown-content {
    top: 55px;
    left: 50%;
    margin-left: -125px;
}

.lg-dropdown ul:before {
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    content: "";
    border: 10px solid transparent;
    margin: 0 auto;
    border-bottom-color: #102642 !important;
    bottom: auto;
    border-radius: 5px;
    border-left-color: #102642;
    transform: rotate(135deg);
}

.menu-horizontal>li>a,
.lg-dropdown {
    padding: 20px 10px;
    margin: 0 10px;
}

@media only screen and (max-width: 1280px) {

    .menu-horizontal>li>a,
    .lg-dropdown {
        padding: 20px 5px;
        margin: 0 5px;
    }
}

@media only screen and (max-width: 1120px) {

    .menu-horizontal>li>a,
    .lg-dropdown {
        padding: 20px 3px;
        margin: 0 5px;
    }


    a.login-btn,
    a.common-btn,
    .menu-horizontal li a,
    .lg-dropdown {
        font-size: 12px;
    }
}